.cipher-line-index {
  background-color: #88BB88;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.cipher-line {
  display: flex;
  position: relative;
  width: 100%;
  padding: 10px 0;
}
.cipher-line.is-bordered:not(:last-child) {
  border-bottom: solid 1px rgba(0,0,0,0.20);
}

.cipher-line-subrows {
  padding: 0 20px 0 10px;
  width: 138px;
}

.cipher-line-subrows div {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #979797;
  text-align: right;
}

.deciphered-locked {
  background-color: #ddd;
}
.deciphered-underscore {
  color: #979797;
}
.deciphered-conflict {
  background-color: #F23459 !important;
  color: #fff;
}
.deciphered-ciphered-cell:not(.is-space) {
  color: #30242B;
}

.deciphered-selectable {
  cursor: pointer;
}
.deciphered-subline.selected {
  background: rgba(136,187,136,0.20);
  border: 4px solid #88BB88;
  border-radius: 5px;
}

.substitution-pin-link {
  cursor: pointer;
  color: #88BB88 !important;
  position: absolute;
  right: 10px;
  top: -10px;
}

.substitution-pinned {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding: 10px;
  background: #E7E7E7;
  box-shadow: 0 -4px 5px 0 rgba(0,0,0,0.20);
}

.letter-cell {
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  font-size: 18px;
}
.letter-cell-not-bold {
  font-weight: normal;
}

.deciphered-clear-cell {
  border: solid 1px black;
  border-radius: 2px;
  background-color: #fff;
}
.deciphered-clear-cell-inside {
  text-align: center;
  cursor: text;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deciphered-clear-cell.is-hint {
  background-color: #88BB88;
  color: #fff;
}
.deciphered-clear-cell.is-ciphered {
  color: #30242B;
  opacity: 0.35;
}
.deciphered-clear-cell.is-editing {
  opacity: 1;
}
.deciphered-clear-cell.is-space {
  opacity: 0;
}
.deciphered-clear-cell.is-space .deciphered-clear-cell-inside {
  cursor: initial;
}

.droppable-word-slot {
  height: 20px;
  background: #EFEFEF;
  box-shadow: inset 3px 3px rgba(0,0,0,0.16);
  border-radius: 2px;
  display: flex;
}
.droppable-word-slot-hover {
  background-color: #88BB88 !important;
}
.droppable-word-slot .droppable-word-letter {
  width: 20px;
  height: 20px;
  min-width: 22px;
}
.droppable-word-slot .droppable-word-letter-occupied {
  background: #F23459;
}
.droppable-word-slot .droppable-word-letter:not(:last-child) {
  border-right: solid 1px rgba(0,0,0,0.1);
}

.is-centered {
  text-align: center;
}

.cipher-line-end {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.hints-container {
  display: flex;
}

.hint-element {
  flex: 1 0;
  padding: 30px;
}

.hint-element:first-child {
  border-right: solid 1px rgba(0,0,0,0.20);
}

.hint-element .btn {
  font-size: 18px;
}

.frequency-analysis-container {
  padding-bottom: 10px;
  .frequency-analysis-scrollable {
    position: relative;
    overflow-x: auto;
    margin-bottom: 10px;
    width: 558px;
    margin-top: -90px;
    padding-top: 90px;
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
    &::-webkit-scrollbar {
      height: 8px;
    }
  }
}
.frequency-analysis-letters {
  display: flex;
  margin-left: 10px;
}
.frequency-analysis-categories {
  line-height: 14px;
  margin-bottom: 10px;
  display: flex;
}
.frequency-analysis-category {
  display: flex;
  text-align: right;
  justify-content: flex-end;
  line-height: 16px;
  padding-left: 20px;
  min-width: 160px;
  max-width: 160px;
  margin-right: 20px;
  &.is-centered {
    align-items: center;
  }
  &.bottom-up {
    align-items: flex-end;
  }
}
.frequency-analysis-items {
  > div {
    display: inline-block;
  }
  &.bottom-up {
    align-items: flex-end;
  }
  &.not-wrappable {
    white-space: nowrap;
    display: flex;
  }
}
.frequency-analysis-items > div {
  margin-right: 1px;
  width: 20px;
  min-width: 20px;
}
.frequency-bar {
  width: 15px;
  background: #88BB88;
  margin: auto;
}

.frequency-value {
  font-size: 16px;
  color: #88BB88;
  letter-spacing: -1.9px;
  margin-left: -1.9px;
  text-align: center;
  margin-top: 9px;
  display: flex;
  justify-content: center;
  position: relative;
}
.bottom-up .frequency-value {
  margin-top: 0;
  margin-bottom: 1px;
}

.frequency-selection-letter {
  font-family: monospace;
  font-weight: bold;
  color: #88BB88;
  font-size: 18px;
  height: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 2px;
}
.frequency-substitute-letter {
  color: #30242B;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  font-size: 18px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.frequency-letter-container {
  display: flex;
  height: 35px;
  justify-content: center;
}
.frequency-symbols-container {
  display: block;
}

.frequency-analysis-section {
  display: flex;
  .frequency-analysis-categories {
    display: block;
  }
}

.frequency-details {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  background: #88BB88;
  border-radius: 2px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  line-height: 24px;
  .frequency-details-element {
    display: flex;
    align-items: center;
    justify-content: center;
    .frequency-details-symbol {
      font-weight: bold;
      padding: 1px 6px;
      flex: 1 0;
    }
    .frequency-details-count {
      padding: 1px 6px;
      letter-spacing: -1.9px;
      margin-left: -1.9px;
      flex: 1 0;
    }
    & + .frequency-details-element {
      border-top: solid 2px #468A43;
    }
  }
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 10px solid #88BB88;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -7px;
    z-index: -1;
  }
}

.substitution-letters {
  margin-left: 150px;
  display: flex;
}

.substitution-letter {
  margin-left: 1px;
  width: 20px;
  border-radius: 2px;
  position: relative;
}
.substitution-locks-container {
  position: absolute;
  top: 22px;
  right: 21px;
}
.substitution-lock-symbol {
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 13px;
  cursor: pointer;
  height: 21px;
  background: #30242B;
  color: #fff;
  border-radius: 2px;
  padding: 0 4px;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.substitution-lock-symbol .lock-open {
  margin-right: 5px;
}
.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #88BB88;
  border-color: #88BB88;
}
.substitution-lock-caret {
  content: '';
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #30242B;
  position: absolute;
  right: -5px;
  top: 6px;
  z-index: -1;
}
.substitution-letter-hover {
  background-color: #88BB8850 !important;
}
.substitution-letter-static {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
}
.substitution-letter-editable {
  background: #FFFFFF;
  border: 1px solid #979797;
  color: #30242B;
  border-radius: 2px;
  cursor: text;
  height: 20px;
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.substitution-letter-empty {
  height: 20px;
  margin-bottom: 2px;
}
.substitution-letter-editable-inside {
  text-align: center;
  cursor: text;
  height: 18px;
  line-height: 18px;
  font-size: 16px;
}
.substitution-letter-editable-inside input {
  color: #30242B;
  font-size: 16px;
  line-height: 18px;
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
  padding: 0;
  outline: none;
  border: none;
  background: transparent;
  font-weight: bold;
}
.substitution-letter-locked {
  background-color: #CECDCD;
  color: #30242B;
}
.substitution-letter-conflict {
  background-color: #F23459;
  color: #fff;
}
.substitution-letter-conflict input {
  color: #fff;
}
.substitution-letter-movable .substitution-letter-editable-inside {
  cursor: move;
}
.substitution-edit {
  padding: 10px 0;
  position: relative;
}
.substitution-edit ~ .substitution-edit {
  border-top: solid 1px #D8D8D8;
}
.substitution-lock {
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
}
.substitution-lock-empty {
  color: #979797;
  cursor: not-allowed;
}

.unused-letter {
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  background-color: #CCCCCC;
  color: #30242B;
  text-align: center;
  padding: 0 5px;
  margin-left: 2px;
  font-size: 18px;
  cursor: move;
  width: 40px;
  height: 24px;
}
.unused-letter svg {
  margin-right: 4px;
  display: block;
}
.unused-letter-value {
  margin-right: 4px;
}
.non-used-letters-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.non-used-letters-container > div:first-child {
  min-width: 136px;
  width: 136px;
  display: inline-block;
  margin-right: 12px;
  text-align: right;
  line-height: 16px;
}
.non-used-letters {
  padding-right: 35px;
}

.decipher-clear {
  display: flex;
  align-items: center;
}
.decipher-clear .deciphered-substitutions-container {
  flex: 1 0;
  text-align: left;
}
.decipher-clear div:first-child {
  flex-grow: 1;
}
.decipher-clear .clear-text {
  margin-right: 8px;
  text-align: right;
}

.deciphered-result-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 20px;
  top: 2px;
  border-radius: 2px;
}

.deciphered-substitutions-container {
  border: 1px solid #979797;
  border-radius: 50px;
  height: 30px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin: 0 6px 0 2px;
  width: 100%;
}

.deciphered-word-selected {
  background: rgba(136,187,136,0.20);
  border: 4px solid #88BB88;
  border-radius: 5px;
}

.deciphered-word-selectable {
  top: -34px;
  left: -6px;
  cursor: pointer;
}

[draggable="true"] {
  transform: translate(0, 0);
  opacity: 0.999;
}

.words-container {
  padding: 20px;
  display: flex;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  background: white;
}
.word-container:last-child .draggable-word {
  margin-bottom: 20px !important;
}
.word-container.word-used .draggable-word-letter, .word-container.word-used .draggable-word-handle {
  background-color: #CECDCD;
}
.word-column {
  flex-grow: 1;
}

.draggable-word {
  display: inline-flex;
  align-items: center;
  border-radius: 50px;
  color: #30242B;
  text-align: center;
  padding: 0 5px;
  margin-left: 2px;
  font-size: 18px;
  cursor: move;
  height: 24px;
}
.draggable-word-handle {
  background-color: #88BB88;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  justify-content: center;
  width: 20px;
}
.draggable-word.is-minimal {
  padding: 0;
  margin-left: 0;
}
.draggable-word svg {
  display: block;
}
.draggable-word-value {
  display: flex;
}
.draggable-word-letter {
  width: 20px;
  height: 20px;
  min-width: 22px;
  font-size: 18px;
  color: #30242B;
  border: solid 1px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.draggable-word.is-selected .draggable-word-letter {
  background-color: #88BB88;
  color: #fff;
}

.custom-scrollable {
  border: none;
}

.words-explanation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.transposition {
  //display: flex;

  > div {
    flex: 1 0;
    padding: 20px;
  }

  .visual {
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .example {
    margin: auto;
    max-width: 600px;
  }

  .example > div {
    display: flex;
    align-items: center;
    > div:first-child {
      width: 150px;
      text-align: right;
      margin-right: 10px;
    }
    > div:nth-child(2) {
      flex: 1 0;
    }

    .picker {
      display: flex;
      align-items: center;
      span {
        margin-left: 10px;
      }
    }
  }

  .transposition-letter {
    background: #FFFFFF;
    border: 1px solid #979797;
    color: #30242B;
    border-radius: 2px;
    cursor: text;
    height: 20px;
    width: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .symbols {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    position: relative;
    .original-letter {
      margin: 0 4px;
      width: 20px;
    }
  }

  .original {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    position: relative;
    .original-letter {
      margin: 0 4px;
    }
  }

  .transposed {
    display: flex;
    justify-content: center;
    .transposition-slot {
      padding: 4px;
    }
    .transposition-letter {
      cursor: move;
    }
  }

  .arrows {
    position: absolute;
    top: 10px;
  }
}

.working-area {
  height: 250px;
  padding: 20px;
  .droppable-word-container {
    width: 100%;
    height: 100%;
  }
}